{% extends "layout.html" %}

{% block content %}
<title>At Arabası Takip Sistemi Admin Paneli</title>
<div class="center-content">
<h3 style="color: white;">Kameralar</h3>
</div>
<p class="space"></p>
<table class="table custom-table">
  <thead>
    <tr>
      <th scope="col" style="color: white;">#</th>
      <th scope="col" style="color: white;">Kamera URL</th>
      <th scope="col" style="color: white;">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    {% for url in urls %}
      <tr>
        <th scope="row">{{ url.id }}</th>
        <td>{{ url.url }}</td>
        <td>
          <form class="d-inline-block" method="post" action="/admin/remove_rtsp/{{ url.id }}">
            <button type="submit" class="btn btn-danger">Kamera Sil</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<form class="d-inline-block" method="post" action="/admin/add_rtsp">
  <button type="submit" class="btn btn-success">Kamera Ekle</button>
</form>
<style>
  .empty-row {
    height: 20px;
  }
</style>
<div class="empty-row"></div>

<div class="center-content">
<h3 style="color: white;">Adminler</h3>
</div>
<p class="space"></p>
<table class="table custom-table">
  <thead>
    <tr>
      <th scope="col" style="color: white;">#</th>
      <th scope="col" style="color: white;">Email</th>
      <th scope="col" style="color: white;">İsim Soyisim</th>
      <th scope="col" style="color: white;">Rol</th>
      <th scope="col" style="color: white;">Son Giriş</th>
      <th scope="col" style="color: white;">Aktivite</th>
    </tr>
  </thead>
  <tbody>
    {% for admin in admins %}
      <tr>
        <th scope="row">{{ admin.id }}</th>
        <td>{{ admin.email }}</td>
        <td>{{ admin.name }}</td>
        <td>{{ admin.role }}</td>
        <td>
          {% if admin.last_login %}
            {{ admin.last_login }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if admin.is_active %}
            <span style="color: green; font-size: 20px;">&#x25CF;</span> <!-- Green circle -->
          {% else %}
            <span style="color: red; font-size: 20px;">&#x25CF;</span> <!-- Red circle -->
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p class="space-home"></p>
<div class="center-content">
<h3 style="color: white;">Operatörler</h3>
</div>
<p class="space"></p>
<table class="table custom-table">
  <thead>
    <tr>
      <th scope="col" style="color: white;">#</th>
      <th scope="col" style="color: white;">Email</th>
      <th scope="col" style="color: white;">İsim Soyisim</th>
      <th scope="col" style="color: white;">Rol</th>
      <th scope="col" style="color: white;">Son Giriş</th>
      <th scope="col" style="color: white;">Aktivite</th>
      <th scope="col" style="color: white;">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    {% for operator in operators %}
      <tr>
        <th scope="row">{{ operator.id }}</th>
        <td>{{ operator.email }}</td>
        <td>{{ operator.name }}</td>
        <td>{{ operator.role }}</td>
        <td>
          {% if operator.last_login %}
            {{ operator.last_login }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if operator.is_active %}
            <span style="color: green; font-size: 20px;">&#x25CF;</span> <!-- Green circle -->
          {% else %}
            <span style="color: red; font-size: 20px;">&#x25CF;</span> <!-- Red circle -->
          {% endif %}
        </td>
        <td>
            {% if operator.name in pending_operators %}
              <form class="d-inline-block" method="post" action="/admin/approve_operator/{{ operator.id }}">
                <button type="submit" class="btn btn-success">Onayla</button>
              </form>
              <form class="d-inline-block" method="post" action="/admin/reject_operator/{{ operator.id }}">
                <button type="submit" class="btn btn-danger">Reddet</button>
              </form>
            {% else %}
              <form class="d-inline-block" method="post" action="/admin/admin_role/{{ operator.id }}">
                <button type="submit" class="btn btn-success">Admin Yap</button>
              </form>
              <form class="d-inline-block" method="post" action="/admin/remove_operator/{{ operator.id }}">
                <button type="submit" class="btn btn-danger">Sil</button>
              </form>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
