{% extends "layout.html" %}

{% block content %}
<title>At Arabası Takip Sistemi Kameralar</title>

<div class="center-content">
  <h3 style="color: white;">Kameralar</h3>
</div>
<p class="space"></p>
<div class="warning-message alert alert-warning" role="alert"></div>
<div style="text-align: center;">
  <div style="display: inline-block; margin: 0 10px;">
    <form action="/camfeed/start_detection/" method="post">
      <button type="submit" class="btn btn-success">Takibi Başlat</button>
    </form>
  </div>
  <div style="display: inline-block; margin: 0 10px;">
    <form action="/camfeed/stop_detection/" method="post">
      <button type="submit" class="btn btn-danger">Takibi Bitir</button>
    </form>
  </div>
  <div style="margin-top: 10px;">
    <form action="/camfeed/choose_streams/" method="get">
      <button type="submit" class="btn btn-primary">Yayın Şeç</button>
    </form>
  </div>
</div>
<div class="detection-log-panel" hidden>
  <h4 class="log-header" style="color: white;">Takip Kaydı</h4>
  <div class="log-scroll-container">
    <ul class="log-list">
    </ul>
  </div>
</div>
<p class="space-cam"></p>
<p class="space-cam"></p>
<div class="row">
  {% for camera_info in display_list %}
    {% if camera_info.status %}
        <div class="col-md-6">
            <h5 style="color: white;">Kamera {{ loop.index }}</h5>
            <div class="video-container">
                <img src="{{ '/camfeed/stream_camera/' ~ loop.index }}" alt="Camera Feed"
                     style="border: 4px solid lightslategray; max-width: 100%;">
                <button class="fullscreen-button" onclick="toggleFullscreen(this)">&#x26F6;</button>
            </div>
            <p class="space-cam"></p>
            <div class="button-container">
                <a href="{{ '/camfeed/adjust_roi/' ~ loop.index }}" class="btn btn-primary">ROI Ayarla</a>
            </div>
        </div>
    {% endif %}
  {% endfor %}
</div>

<script>
    const eventSource = new EventSource('/camfeed/get_detection_log');
    const logList = document.querySelector('.log-list');
    let latestDisplayedMessage = null;
    const detectionLogPanel = document.querySelector('.detection-log-panel');
    const warningMessage = document.querySelector('.warning-message');

    eventSource.onmessage = function (event) {
    const newLogEntry = document.createElement('li');
    newLogEntry.className = 'log-entry';
    newLogEntry.textContent = event.data;

      if (event.data !== latestDisplayedMessage) {
        logList.prepend(newLogEntry);
        latestDisplayedMessage = event.data;
        }
    };

    function showDetectionLogPanel() {
      detectionLogPanel.removeAttribute('hidden');
    }

    function hideDetectionLogPanel() {
      detectionLogPanel.setAttribute('hidden', true);
    }

    function addDetectionLogEntry(message) {
      const timestamp = new Date().toLocaleString();
      const formattedMessage = `${message} ${timestamp}`;
      const newLogEntry = document.createElement('li');
      newLogEntry.className = 'log-entry';
      newLogEntry.textContent = formattedMessage;
      logList.prepend(newLogEntry);
    }

    function displayWarning(message) {
      warningMessage.textContent = message;
      warningMessage.classList.add('show');
      setTimeout(function () {
      warningMessage.textContent = '';
      warningMessage.classList.remove('show');
      }, 5000);
    }

    const startDetectionButton = document.querySelector('form[action="/camfeed/start_detection/"]');
    const stopDetectionButton = document.querySelector('form[action="/camfeed/stop_detection/"]');

    startDetectionButton.addEventListener('submit', function (event) {
      event.preventDefault();

      fetch('/camfeed/start_detection/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      })
      .then(response => response.json())
      .then(data => {
        // Handle the response
        console.log(data);
        if (data.warning) {
          displayWarning(data.warning);
        } else {
          showDetectionLogPanel();
          addDetectionLogEntry('Detection started!');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });

    stopDetectionButton.addEventListener('submit', function (event) {
      event.preventDefault();

      fetch('/camfeed/stop_detection/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        if (data.warning) {
          displayWarning(data.warning);
        } else {
          hideDetectionLogPanel();
          addDetectionLogEntry('Detection ended!');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });

    function toggleFullscreen(button) {
      const videoContainer = button.parentElement;
      if (!document.fullscreenElement) {
        if (videoContainer.requestFullscreen) {
          videoContainer.requestFullscreen();
        }

        button.innerHTML = '&#x26F6;';
      } else {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        }

        button.innerHTML = '&#x26F6;';
      }
    }

    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });

</script>
{% endblock %}
