{% extends "layout.html" %}

{% block content %}
<div class="center-content">
<h3 style="color: white;">Şifremi Unuttum</h3>
</div>
<hr>
{% if msg %}
<div class="mt-3 alert alert-danger">
    {{ msg }}
</div>
{% endif %}
<div class="jumbotron text-center custom-jumbotron">
<form method="post" action="/auth/forgot_password">
    <div class="form-group offset-3 col-md-6">
        <label for="email"><strong>Email</strong></label>
        <input type="email" class="form-control bordered-input" id="email" name="email" placeholder="Email giriniz" required>
    </div>
    <button type="submit" class="btn btn-primary">Sıfırlama Linki Yolla</button>
</form>
</div>

{% endblock %}
