{% extends "layout.html" %}

{% block content %}
<div class="center-content">
<h3 style="color: white;">Şifreyi Sıfırla</h3>
</div>
<hr>
{% if msg %}
<div class="mt-3 alert alert-success">
    {{ msg }}
</div>
{% endif %}
<div class="jumbotron text-center custom-jumbotron">
<form method="post">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="new_password"><strong>Yeni Şifre</strong></label>
            <input type="password" class="form-control bordered-input" id="new_password" name="new_password" placeholder="Enter New Password" required>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="new_password2"><strong>Yeni Şifreyi Onayla</strong></label>
            <input type="password" class="form-control bordered-input" id="new_password2" name="new_password2" placeholder="Verify New Password" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Şifreyi Sıfırla</button>
</form>
</div>
{% endblock %}
